
.summary-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-rows: 100px;
  grid-auto-columns: 200px;
}

.background-img-grid {
  grid-column-start: 1;
}

.personal-info-grid {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.linkedin-edit-icons-grid {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  justify-content: end;
}

.linkedin-icon {
  height: 21px;
  width: 21px;
}

.edit-summary-icon {
  height: 24px;
  width: 24px;
}

.summary-buttons-grid {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 1;
}

.connections-grid {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.job-education-grid {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}

.code-platoon-img {
  height: 24px;
  width: 24px;
}

.nwc-img {
  height: 24px;
  width: 24px;
}
